@import "partials/colors";
@import "partials/header";
@import "partials/layout";


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}